
.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: rgb(var(--primary-rgb));

    svg{
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        path{
            fill: #141516;
        }
    }
    .numbers_wrapper{
        display: flex;
        color: white;
        font-size: 150px;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 20px;
        font-family: var(--playfair-display-font);
        font-style: italic;
        z-index: 1;
        margin-right: 30px;
        margin-bottom: 20px;

        @media (max-width: 767px) {
            font-size: 80px;
            bottom: 100px;
        }
    }
}
