.footer{
    font-size: 12px;
    margin-top: 40px;
    text-transform: uppercase;

    ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        gap: 20px;
        width: auto;    
        justify-content: space-between;    

        @media only screen and (max-width: 1199px) {
            justify-content: start; 
        }
        @media only screen and (max-width: 991px) {
            flex-direction: column;
            gap: 8px;
        }
        
    }
}