.wrapper{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    transition: all ease-in-out 0.6s;
    border-bottom: 1px solid rgba(var(--primary-color-rgb), 0.2);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    @media (max-width: 1400px) {
        transform: translate3d(0, 0, 0);
        will-change: transform, background;
        transition: transform 1s cubic-bezier(0.75, 0, 0, 1), background 1s cubic-bezier(0.75, 0, 0, 1), padding 1s cubic-bezier(0.75, 0, 0, 1);
        &.hidden{
            transform: translate3d(0, -100%, 0);
            background-color: rgba(0, 0, 0, 0);
            .menu_wrapper{
                opacity: 0;
            }
        }
    }  

    &.hidden{
        transition-delay: 0.3s;
        background-color: rgba(255, 255, 255, 0);
        .menu_wrapper{
            opacity: 0;
        }
    }

    .header{
        display: flex;  
        justify-content: space-between;
        align-items: center;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85px;
            height: 85px;
            flex-shrink: 0;
    
            @media (max-width: 1400px) {
                height: 72px;
            }  
            @media (max-width: 991px) {
                height: 60px;
            }  
            .icon_image{
                height: 40px;
                width: auto;
                @media (max-width: 1400px) {
                    height: 36px;
                }  
            }
        }
        .menu_wrapper{
            // width: 100%;
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all ease-in-out 0.6s;
            flex-grow: 1;
            @media (max-width: 1400px) {
                height: 72px;
            }  
            @media (max-width: 991px) {
                height: 60px;
            }  
            .logo{
                height: 52px;
                width: auto;
                padding-left: 20px;
                @media (max-width: 1400px) {
                    height: 46px;
                }  
                @media (max-width: 991px) {
                    margin: auto;
                    padding-left: 0;
                    height: 40px;
                } 
            }
            .menu{
                margin-right: 20px;
                @media (max-width: 991px) {
                    display: none;
                }  
                ul{
                    display: flex;
                    gap: 30px;
                    @media (max-width: 1200px) {
                        gap: 16px;
                    } 
                    li{
                        list-style: none;
                        a{
                            padding: 8px;
                        }
                    }
                }
            }
       
        }
        .hamburger{
            width: 85px;
            height: 85px;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 110;
            cursor: pointer;
            @media (max-width: 1400px) {
                height: 72px;
            }  
            @media (max-width: 991px) {
                height: 60px;
            }  

            &.burgerActive{
                .burger{
                    span{
                        width: 100%;
                        transform: rotate(45deg);
                        margin-top: -1px;
                    }
                    span:last-child{
                        transform: rotate(-45deg);
                        margin-top: -1px;
                    }
                }
            
            }
            
            .burger{
                width: 32px;
                height: auto;
                display: block;
                padding: 3px;
                margin: auto;
                span{
                    width: 75%;
                    height: 2px;
                    display: block;
                    background-color: #444;
                    transition: all 1s cubic-bezier(0.65, 0, 0.24, 1)
                }
                span:last-child{
                    width: 100%;
                    margin-top: 6px;
                }
            }
    
            
        }
    }
    .background{
        background-color: rgb(var(--primary-rgb));
        opacity: 0.5;
        height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
    }

}